
<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<title>Bookhubb | Home</title>
		<meta name="description" content="One stop for all of Thapar. THAPAR EXPRESS" />
		<meta name="keywords" content="thapar express,thapar university,thaparexpress,thapar,express,all,of,thapar,events,thapar,societies,timetable,food in patiala,restaurants in patiala " />
		<link rel="shortcut icon" href="../favicon.ico">
		<link rel="stylesheet" href="font-awesome-4.2.0/css/font-awesome.min.css">

		<link rel="stylesheet" type="text/css" href="css/normalize.css" />
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="css/component.css" />
		<link rel="stylesheet" type="text/css" href="css/timeline.css" />
    <link rel="stylesheet" type="text/css" href="bootstrap.min (4).css">
     <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
     <link rel="stylesheet" type="text/css" href="css/style (2).css"/>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<script src="js/modernizr.custom.js"></script>

	</head>
	<body>
		<div class="container" style="margin-top:60px;">
        <ul id="gn-menu" class="gn-menu-main">
                <li class="gn-trigger">
                  <a class="gn-icon  menu_items gn-icon-menu"><span>Menu</span></a>
                  <nav class="gn-menu-wrapper">
                    <div class="gn-scroller">
                      <ul class="gn-menu">

                        <li><a   href="../index.php" class="gn-icon  menu_items gn-icon-home">Home</a></li>
                        <li><a   href="upload_novel.html"  class="gn-icon  menu_items gn-icon-societies">Upload Novels</a>
                                        <li><a   href="../events.php" class="gn-icon  menu_items gn-icon-calendar">Delete Novels</a>
                        
                                                <li><a   href="#" class="gn-icon menu_items  gn-icon-rocket">Issue Novel</a></li>
                                                </li>
                   
                        <li><a   href="../articles.php" class="gn-icon  menu_items gn-icon-blog">Got Your Novel?Confirm It </a></li>
                        <li><a   href="#" class="gn-icon  menu_items gn-icon-pictures">Notification </a></li>
                           <?php if(isset($_SESSION['rollnum'])){   ?>
                        <li><a   href="../logout.php" class="gn-icon  menu_items gn-icon-exit">Log Out</a></li>
                        <?php } ?>
                      </ul>
                    </div><!-- /gn-scroller -->
                  </nav>
                </li>

                <li class="hero"><a class="codrops-icon codrops-icon-prev" href="http://thaparexpress.in"><span><h3>BOOKHUBB</h3></span></a></li>
                <li />

              </ul>
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-57016004-1', 'auto');
          ga('send', 'pageview');
        </script>

        <div class="row">
          <div class="col-sm-9">
          <li>
          <a style="color:#339933; font-size:2em; cursor:pointer;" ng-hide="authenticated" data-toggle="modal" data-target="#myModal" class="">
          <i class="fa fa-2x fa-sign-in"></i><sup></sup></a>
          </li>   


                        <div id="custom-search-input" class="search-box pull-right">
                <div class="input-group pull-right">
                  <div id="custom-search-input" class="search-box">
                    <div class="input-group col-md-12">
                      <input type="text" class="form-control input-md ng-pristine ng-valid ng-touched" ng-model="query.description" placeholder="Search Here..." name="q" autocomplete="off" style="">
                      <span class="input-group-btn">
                        <button class="btn btn-search btn-lg btn-link" type="button">
                          <i class="glyphicon glyphicon-search"></i>
                        </button>
                      </span>

                    <br class="visible-xs">
                    </div>
                  </div>
                </div>
                </div>

          
          </div>
          
        </div>
        <br>
        <br>
        <br>
<div class="row" >
  <div class="col-sm-12 col-md-3 visible-lg pull-right">
    <br>
                     <!--   <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#myModal">UPLOAD</button>-->

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header" style="background-color:#339933;">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <center><h3 class="modal-title"><font color="white">Upload Novel</font></h3></center>
        </div>
        <div class="modal-body">
          <form>
            <blockquote><input type="text" placeholder="novel name"><br></blockquote>

          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" data-dismiss="modal">Upload</button>
        </div>
      </div>
      
    </div>
    
  </div>

      






    <br>
    <br>
    <br>
    <br>
        <div class="panel panel-success" style="min-width:58px;">
          <div class="panel-heading"><i class="fa fa-2x fa-shopping-cart"></i> POINTS
            <span class="pull-right ng-binding">Total : <i class="fa fa-inr"></i> 0</span></div>
             <div class="panel-body cart-box">
               <table class="table">
                <thead>
                  <tr>
                      <th>#</th>
                      <th>Name</th>
                      <th>Quantity</th>
                      <th>Rate</th>
                  </tr>
                </thead>
                <tbody><tr ng-hide="cartloading.length>-1" class=""><td ng-show="authenticated" style="vertical-align:middle;" class="ng-hide"><i class="fa fa-cog fa-3x fa-spin"></i></td></tr>
                  
                  <!-- ngRepeat: item in cart -->
                </tbody>
              </table>
          </div>
          <div class="panel-footer">
            <input id="couponField" type="text" ng-model="couponCode" ng-change="couponSubmit()" placeholder="Enter Coupon Code" class="hidden-xs hidden-lg hidden-md hidden-sm ng-pristine ng-untouched ng-valid">
           <!-- <button type="button" ng-click="coupon();" class="btn btn-block btn-default">Apply Coupon</button> -->
            <button type="button" ng-click="order();" analytics-on="click" analytics-event="Order" class="btn btn-block btn-success">Order Now</button>
          </div>
        </div>
        </div>

    <div class="col-md-9">

       <div class="row" >  
          <div class="col-xs-4 col-sm-4 " style="padding-right:5px;padding-left:5px;">
              <div class="thumbnail box-shadow">
                
                <img ng-src="https://brinjal.me/images/apple_thumb.png" alt="Jamun" title="Jamun" class="productimg" imageonload="" src="https://brinjal.me/images/apple_thumb.png">
                <div class="everything">
                <div class="caption" style="padding-top:0px">
                  <a href="fruits-in-delhi/Jamun"><h4 class="name ng-binding">Jamun <p class="text-primary packing ng-binding">500g</p></h4></a>
                </div>
                <div class="ratings">
                  <center>
                   <p style="margin-bottom:1px;" class="ng-binding">
                    <a type="button" class="btn btn-success btn-xs" >Upload</a>
                     
                    
                  </p></center>
                </div>
              </div>
              </div>
            </div>

          
          <div class="col-xs-4 col-sm-4 " style="padding-right:5px;padding-left:5px;">
              <div class="thumbnail box-shadow">
                
                <img ng-src="https://brinjal.me/images/apple_thumb.png" alt="Jamun" title="Jamun" class="productimg" imageonload="" src="https://brinjal.me/images/apple_thumb.png">
                <div class="everything">
                <div class="caption" style="padding-top:0px">
                  <a href="fruits-in-delhi/Jamun"><h4 class="name ng-binding">Jamun <p class="text-primary packing ng-binding">500g</p></h4></a>
                </div>
                <div class="ratings">
                  <center>
                   <p style="margin-bottom:1px;" class="ng-binding">
                    <a type="button" class="btn btn-success btn-xs">Upload</a>                        
                  </p></center>
                </div>
              </div>
              </div>
            </div>  

          <div class="col-xs-4 col-sm-4 " style="padding-right:5px;padding-left:5px;">
              <div class="thumbnail box-shadow">
                
                <img ng-src="https://brinjal.me/images/apple_thumb.png" alt="Jamun" title="Jamun" class="productimg" imageonload="" src="https://brinjal.me/images/apple_thumb.png">
                <div class="everything">
                <div class="caption" style="padding-top:0px">
                  <a href="fruits-in-delhi/Jamun"><h4 class="name ng-binding">Jamun <p class="text-primary packing ng-binding">500g</p></h4></a>
                </div>
                <div class="ratings">
                  <center>
                   <p style="margin-bottom:1px;" class="ng-binding">
                    <a type="button" class="btn btn-success btn-xs">Upload</a>                        
                  </p></center>
                </div>
              </div>
              </div>
            </div>  

          <div class="col-xs-4 col-sm-4 " style="padding-right:5px;padding-left:5px;">
              <div class="thumbnail box-shadow">
                
                <img ng-src="https://brinjal.me/images/apple_thumb.png" alt="Jamun" title="Jamun" class="productimg" imageonload="" src="https://brinjal.me/images/apple_thumb.png">
                <div class="everything">
                <div class="caption" style="padding-top:0px">
                  <a href="fruits-in-delhi/Jamun"><h4 class="name ng-binding">Jamun <p class="text-primary packing ng-binding">500g</p></h4></a>
                </div>
                <div class="ratings">
                  <center>
                   <p style="margin-bottom:1px;" class="ng-binding">
                    <a type="button" class="btn btn-success btn-xs">Upload</a>                        
                  </p></center>
                </div>
              </div>
              </div>
            </div>  

          <div class="col-xs-4 col-sm-4 " style="padding-right:5px;padding-left:5px;">
              <div class="thumbnail box-shadow">
                
                <img ng-src="https://brinjal.me/images/apple_thumb.png" alt="Jamun" title="Jamun" class="productimg" imageonload="" src="https://brinjal.me/images/apple_thumb.png">
                <div class="everything">
                <div class="caption" style="padding-top:0px">
                  <a href="fruits-in-delhi/Jamun"><h4 class="name ng-binding">Jamun <p class="text-primary packing ng-binding">500g</p></h4></a>
                </div>
                <div class="ratings">
                  <center>
                   <p style="margin-bottom:1px;" class="ng-binding">
                    <a type="button" class="btn btn-success btn-xs">Upload</a>                        
                  </p></center>
                </div>
              </div>
              </div>
            </div>  

          <div class="col-xs-4 col-sm-4 " style="padding-right:5px;padding-left:5px;">
              <div class="thumbnail box-shadow">
                
                <img ng-src="https://brinjal.me/images/apple_thumb.png" alt="Jamun" title="Jamun" class="productimg" imageonload="" src="https://brinjal.me/images/apple_thumb.png">
                <div class="everything">
                <div class="caption" style="padding-top:0px">
                  <a href="fruits-in-delhi/Jamun"><h4 class="name ng-binding">Jamun <p class="text-primary packing ng-binding">500g</p></h4></a>
                </div>
                <div class="ratings">
                  <center>
                   <p style="margin-bottom:1px;" class="ng-binding">
                    <a type="button" class="btn btn-success btn-xs">Upload</a>                        
                  </p></center>
                </div>
              </div>
              </div>
            </div>  

          <div class="col-xs-4 col-sm-4 " style="padding-right:5px;padding-left:5px;">
              <div class="thumbnail box-shadow">
                
                <img ng-src="https://brinjal.me/images/apple_thumb.png" alt="Jamun" title="Jamun" class="productimg" imageonload="" src="https://brinjal.me/images/apple_thumb.png">
                <div class="everything">
                <div class="caption" style="padding-top:0px">
                  <a href="fruits-in-delhi/Jamun"><h4 class="name ng-binding">Jamun <p class="text-primary packing ng-binding">500g</p></h4></a>
                </div>
                <div class="ratings">
                  <center>
                   <p style="margin-bottom:1px;" class="ng-binding">
                    <a type="button" class="btn btn-success btn-xs">Upload</a>                        
                  </p></center>
                </div>
              </div>
              </div>
            </div>  
             <div class="col-xs-4 col-sm-4 " style="padding-right:5px;padding-left:5px;">
                  <div class="thumbnail box-shadow">
                    
                    <img ng-src="https://brinjal.me/images/apple_thumb.png" alt="Jamun" title="Jamun" class="productimg" imageonload="" src="https://brinjal.me/images/apple_thumb.png">
                    <div class="everything">
                    <div class="caption" style="padding-top:0px">
                      <a href="fruits-in-delhi/Jamun"><h4 class="name ng-binding">Jamun <p class="text-primary packing ng-binding">500g</p></h4></a>
                    </div>
                    <div class="ratings">
                      <center>
                       <p style="margin-bottom:1px;" class="ng-binding">
                        <a type="button" class="btn btn-success btn-xs" >Upload</a>
                         
                        
                      </p></center>
                    </div>
                  </div>
                  </div>
                </div>
              <div class="col-xs-4 col-sm-4 " style="padding-right:5px;padding-left:5px;">
                  <div class="thumbnail box-shadow">
                    
                    <img ng-src="https://brinjal.me/images/apple_thumb.png" alt="Jamun" title="Jamun" class="productimg" imageonload="" src="https://brinjal.me/images/apple_thumb.png">
                    <div class="everything">
                    <div class="caption" style="padding-top:0px">
                      <a href="fruits-in-delhi/Jamun"><h4 class="name ng-binding">Jamun <p class="text-primary packing ng-binding">500g</p></h4></a>
                    </div>
                    <div class="ratings">
                      <center>
                       <p style="margin-bottom:1px;" class="ng-binding">
                        <a type="button" class="btn btn-success btn-xs" >Upload</a>
                         
                        
                      </p></center>
                    </div>
                  </div>
                  </div>
                </div>
  
</div>
</div>
</div>
				

		<script src="js/classie.js"></script>
		
		<script>
			new gnMenu( document.getElementById( 'gn-menu' ) );
		</script>
	</body>
</html>
